html {
    scroll-behavior: smooth;
}

/* transitions */

/* fade */

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.15s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* fade-from-up */

.fade-from-up-enter-active, .fade-from-up-leave-active {
    transition: all 0.25s;
}

.fade-from-up-enter, .fade-from-up-leave-to {
    opacity: 0;
    transform: translate3d(0, -3rem, 0);

}


/* fade-from-bottom */

.fade-from-bottom-enter-active, .fade-from-bottom-leave-active {
    transition: all 0.25s;
}

.fade-from-bottom-enter, .fade-from-bottom-leave-to {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
}

/* fade-from-left */

.fade-from-left-enter-active, .fade-from-left-leave-active {
    transition: all 0.25s;
}

.fade-from-left-enter, .fade-from-left-leave-to {
    opacity: 0;
    transform: translate3d(-5rem, 0rem, 0);
}

/* PAGE */

.page-enter-active, .page-leave-active {
    transition: all 0.3s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

/* Layout */

.layout-enter-active, .layout-leave-active {
    transition: all 0.3s
}

.layout-enter, .layout-leave-active {
    opacity: 0
}

/* IOS INPPUTs SHADOW RESET */

input[type="text"], input[type="email"], input[type="password"], textarea {
    -webkit-appearance: none;
}

.blured-5 {
    backdrop-filter: blur(10px);
}

/* custom clases */

.container{
    @apply max-w-screen-xl mx-auto px-6 md:px-8 xl:px-0;
}

.focusable\-on\-visible{
    @apply focus:outline-none focus-visible:ring rounded focus:opacity-100 focus-visible:ring-primary-light focus-visible:ring-primary-light dark:focus-visible:ring-primary-dark;
}

.nuxt-link-exact-active {
    @apply text-opacity-100 text-onLight dark:text-opacity-100 dark:text-onDark font-semibold;
  }